@import "tailwindcss";

.scroll-smooth {
  scroll-behavior: smooth;
}
/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}